.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 3rem;

  .img {
    flex: 1 1 42rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 42rem;

    h3 {
      @include titleText(3rem);
      padding-bottom: 0.5rem;
    }

    p {
      @include graphText(1.5rem);
      padding: 1rem 0;
    }
  }
}
