.facelities {
  background: $light-bg;
  .box-container {
    @include grid(30rem);

    .box {
      background: $white;
      padding: 3rem;
      text-align: center;
      border: $border;
      box-shadow: $box-shadow;

      &:hover {
        background: $black;
        border-color: $blue;
        border-radius: 1rem;

        img {
          transform: scale(1.2);
        }

        h3 {
          color: $white;
        }

        p {
          color: $white;
        }
      }

      img {
        height: 10rem;
        margin-bottom: 0.5rem;
      }

      h3 {
        padding: 1rem 0;
        @include titleText(2rem);
      }

      p {
        @include graphText(1.4rem);
      }
    }
  }
}
