.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;

  .img {
    flex: 1 1 40rem;

    img {
      width: 100%;
    }
  }

  .content {
    flex: 1 1 40rem;

    h3 {
      @include titleText(4.5rem);

      @media (max-width: 450px) {
        font-size: 3rem;
      }
    }

    p {
      @include graphText(1.5rem);
      padding: 1rem 0;
    }
  }
}
